<ion-view view-title="Contact Us">
    <ion-content>
        <ion-list class="list card">

            <ion-item class="item-icon-left">
                <i class="icon ion-home"></i>
                156 Nguyễn Văn Thủ, P. Đa Kao<br>
                Quận 01, Tp. HCM, Việt Nam
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ios-telephone"></i>
                [08] 62.523.523
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-printer"></i>
                [08] 35.122.860
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-email"></i>
                <a href="mailto:luan.le@fithome.vn">luan.le@fithome.vn</a>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ios-world"></i>
                <a href="//www.fithome.vn" target="_blank">www.fithome.vn</a>
            </ion-item>

        </ion-list>
    </ion-content>

</ion-view>
