<ion-view view-title="Home">
    <ion-content>
        <img ng-src="img/logo1.jpg" class="img">

        <h2>
            Bạn không an tâm vì chưa tìm ra công ty có thể khắc phụ hư hỏng?
            Hãy yên tâm với thương hiệu Sửa Nhanh, đội ngũ kỹ sư và thợ lành nghề,
            thân thiện sẽ Đến ngay, Sửa liền, Xong nhanh, Giá tốt!
        </h2>
        <img ng-src="img/gioithieu.gif" class="img">
        <h2>
            Sửa Nhanh luôn đặt chữ lợi ích và chất lượng công việc lên hàng đầu.
            Không vì lợi nhuận trước mắt mà gian dối, lừa gạt khách hàng.
            Với phương châm kinh doanh “Sự hài lòng và tạo sự thuận lợi cho bạn
            chính là đảm bảo sự tồn tại và phát triển thành công của Sửa Nhanh“.
            Chúng tôi đặt chữ TÍN làm trung tâm mọi hoạt động với mục tiêu hàng đầu
            ” Xây dựng một địa chỉ tin cậy nhất ”. Sửa Nhanh cam kết Đến Ngay, Sửa Liền, Xong Nhanh, Giá Tốt!
        </h2>
    </ion-content>
</ion-view>
