<ion-view view-title="Noi that">
    <ion-content>
        <h2>Đóng Nội Thất Trong Nhà</h2>
        <img src="img/noithat1.jpg">
        <p>Giá – Tủ sách, Kệ xem Tivi, phòng nghe nhìn, Tủ, kệ phòng bếp, Bàn ghế trang điểm, Tủ kệ phòng khách, Bàn ghế
            phòng khách. Bộ bàn ghế Phòng ăn – bếp, Đồ nội thất đa năng, Giường, tủ, kệ, tủ âm tường, sàn gỗ, vách
            gỗ…
        </p>

        <h2>Đóng Nội Thất Văn Phòng</h2>
        <img src="img/noithat2.jpg">
        <p>
            Lặp ván sàn văn phòng, các loại mặt hàng đồ gỗ trong văn phòng như giường tủ bàn, giá sách, phòng họp, sofa
            phòng khách
        </p>

        <h2>Đóng Nội Thất Theo Yêu Cầu</h2>
        <img src="img/noithat3.jpg">
        <p>
            Fit Home sẽ tính toán mọi chi phí cho bạn ở mức hợp lý nhất phù hợp với túi tiền của bạn, chúng tôi sẽ tạo
            ra một không gian làm việc thật hoàn hảo với mức giá nằm trong tầm tay của bạn.
        </p>

    </ion-content>
</ion-view>