<ion-view view-title="Services">
    <ion-content>
        <ion-list class="list card">

            <ion-item href="#/app/services/noithat" class="item item-thumbnail-left">
                <img src="img/sango.jpg">
                <h2>Đóng Đồ Nội Thất</h2>
                <p>Đóng Nội Thất Trong Nhà</p>
                <p>Đóng Nội Thất Văn Phòng</p>
                <p>Đóng Nội Thất Theo Yêu Cầu</p>
            </ion-item>

            <ion-item href="#/app/services/thietke" class="item item-thumbnail-left ">
                <img src="img/chungcu1.jpg">
                <h2>Thiết Kế</h2>
                <p>Thiết kế nội thất nhà, nội thất bếp</p>
                <p>Thiết kế sản phẩm nội thất các phòng</p>
            </ion-item>

            <ion-item href="#/app/services/thicong" class="item item-thumbnail-left ">
                <img src="img/suachua.jpg">
                <h2>Thi Công Hoàn Thiện</h2>
                <p>Khảo sát hiện trạng</p>
                <p>Lắp đặt Điện, Nước, Internet</p>
            </ion-item>


        </ion-list>
    </ion-content>
</ion-view>
